

.body{
    padding: 0;
    margin: 0;
    contain: content;
  }

.main{
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    max-height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}
