/* dm-sans-latin-wght-normal */

 
.fullname{
    text-transform: uppercase;
    font-size: 26px;
    /* background-color: #00000071; */
    /* color: #0400ff; */
    font-weight: 900;
    /* width: 45%; */
    text-wrap: balance;
    text-align: center;
    padding: 20px;
    /* border-radius: 20px; */
    box-shadow: 3px 3px 10px #000000;
    align-self: flex-start;
    /* height: 150px; */
    text-shadow: 5px 5px 6px #000;
    margin: 15px 0px !important;
    text-align: center;

}

.container{
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.fundation{
    font-size: 16px;
    background-color: #0000003d;
    /* box-shadow: 3px 3px 10px #000000; */
   align-self: flex-start;
   font-weight: 900;
   font-family: 'Roboto', sans-serif;
    /* width: 25%; */
        text-wrap:balance;
    text-align: center;
    padding: 10px 20px;

    text-shadow: 5px 5px 6px #000;
}

.map{
    border: 0px;
    width: 40vw;
    height: 60vh;
}
/* .button{
    
    background: #000;
    color: #fff;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 10px;
    border: 3px solid #fff;
} */
.button:hover{
    background-color: #000000;
}
.button{
    padding: 10px;
    position: absolute;
    border-radius: 100%;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    /* font-size: 1em; */
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1abd;
    cursor: pointer;
    transition: border-color 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vw;
    height: 5vw;
    border: 3px solid #fff;

}
.contCancha{
    overflow: hidden;
    color: #fff;
    z-index: 50;
    width: 450px;
    position: fixed;
    background: #000000b2;
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    height: 100vh;
    contain: content;
    flex-direction: column;

}
.nameCancha{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.column{
    display: flex;
    flex-direction: column-reverse;
}
.itemColumn{
    background: rgb(224, 224, 224);
    height: 40px;
    width: 40px;
    border: 1px solid #000;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    
}
.itemColumnSmall{
    background: rgb(16, 97, 93);
    height: 20px;
    width: 20px;
    border: 1px solid #000;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    
}

.containeritemColumn{
    display: flex;
    flex-direction: row;
    width: 300px;
    
    transition: all 3s;
    
}
.itemTextSmall{
    display: flex;
    align-items: center;
    padding: 0px 30px;
    white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
    max-width: 45%;
    contain: content;
     color: #fff;
     background: #000000ad;
     font-size: 16px;
 
}
.itemText{
   padding: 0px 30px;
   white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
   max-width: 45%;
   contain: content;
    color: #fff;
    background: #000000a2;
    font-size: 28px

}
.titleCopas{
    width: 100% !important;
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 1268px) {
    .contCancha{
        overflow: hidden;
        color: #fff;
        max-width: 100%;
        width: 100%;
        position: fixed;
        
        background: #000000b2;
        display: flex;
        justify-content: flex-start;
        align-self: flex-start;
        height: 100vh;
        contain: content;
        flex-direction: column;
    
    }
}


@media screen and (max-height:  700px ) and (min-width: 567px) and (max-width: 1267px) {
    .plantel{
        transform: rotateZ(90deg);
        max-width: 50%;
        max-height: 100%;
        margin-bottom: 80px;
        display: flex;
       
    }
    .player{
        transform: rotateZ(-90deg);
    }
    .club{
        justify-content: center;
        gap: 10px;
        align-items: center;
        flex-direction: row;
    }
    
}